body {
    background-color: whitesmoke;
  }
  h1 {
    color: blue;
  }

  .word{
      font-weight: 900;
      font-size: 3.5em;
  }
  .word .letters{
      display: inline-block;
      line-height: 2em;
      /* color: burlywood; */
  }
  #l{
    color:green;
  }
  .word .letters .l2{
    color:red;
  }
  .l3{
      color:black;
  }
  .ll{
      color: green;
  }
  .l4{
      color:red;
  }
  .l5{
      color: black;
  }
  .l6{
      color: green;
  }

  .l7{
      color:red;
  }
  .l8{
      color: black;
  }
  .l9{
      color: green;
  }
  .l10{
      color:red;
  }


